.sb {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  border-left: 0.5px solid #444;
}

.sb-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.sb-item > p {
    padding: 20px;
}

.sb-title {
  margin: 20px;
  font-weight: 800;
  font-family: "Varela Round", sans-serif;
}

.sb-profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sb-desc {
  line-height: 1.3;
  font-size: 18px;
}

.sb-list {
  list-style-type: none;
  margin: 0;
  padding: 0px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sb-list-item {
    text-transform: lowercase;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.sb-list-item:after {
    content: "."
}

.sb-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sb-social-icon {
     font-size: 18px;
     margin-left: 10px;
     cursor: pointer;
}

@media screen and (max-width: 480px) {
  .sb {
    border: none;
  }

  .sb-social-icon {
    font-size: 24px;
    margin: 10px;
  }
}
